
<div class="hero-image">
  <div class="hero-text">
    <h1 class="ml2" style="font-size: 60px;">¡Bienvenidos a la experiencia Catalea!</h1>
  </br>
    <h4 style="font-size: 20px;">En Catalea creemos que disfrutar de buena comida con tus seres más queridos, no tiene precio. Por eso creamos nuestras jaleas que además de ser deliciosas, crean recuerdos inolvidables. ¡Que las disfrutes!</h4>
  </div>
</div>


<%= link_to "Agregar producto", new_product_path, class: "nav-link" %>
<%= link_to "Nueva compra", new_purchase_path, class: "nav-link" %>
<%= link_to "Nueva producción", new_production_path, class: "nav-link" %>



